body {
	text-align: center;
	font-family: Verdana;
	background-image: url(images/myimage3.png);
	background-size: cover;
	color: white;
}

img {
	border-radius: 50%;
	width: : 150px;
	height: 150px;
	margin-top: 50px;

}

h1 {
	font-size: 60px;
	padding-top: 0px;
	text-shadow: 2px 2px 2px gray;
	margin-bottom: 0px;
	margin-top: 10px;
}

p {
	font-size: 15px;
	margin-top: 0px;
}

.buttonload {
	color: rgb(220,220,220);
	font-size: 15px;	
	margin-top: 20px;
}

.fas {
	color: rgb(220,220,220);
	font-size: 20px;
	text-shadow: none;
}

.main {
	font-size: 20px;
	margin-bottom: 30px;
}
 .bottom {
 	margin-bottom: 20px;
 }

.botao {
	text-decoration: none;
	background-color: rgb(204,0,0);
	color: white;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	margin-bottom: 0;
}

.botao:hover {
	background-color: rgba(204,0,0,0.7);
}

.arrow {
	margin-top: 5px;
	margin-bottom: 0px;
	color: white;
	font-size: 30px;
	
}

.lista{
	list-style: none;
	padding-left: 0;
	margin-top: 0px;
}

.lista li {
	display: inline;
}

.lista a {
	color: white;
	font-size: 30px
}

.lista a:hover {
	color: red;
}

.icon {
	margin-right: 10px;
}